@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,200;1,300;1,400&display=swap');
body {
    font-family: roboto, Verdana, sans-serif;
    line-height: 1.8;
}

.one {
    background: -webkit-linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
    color: #02021d;
}

.navbar {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
    background: -webkit-linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
}

.navbar-light .navbar-nav .nav-link .active,
.navbar-light .navbar-nav .show>.nav-link {
    background: -webkit-linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar ul li a:hover {
    background-color: blue;
}

section {
    padding-top: 100px;
    padding-bottom: 80px;
    z-index: 2;
}

.bg-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
    z-index: -1;
}

.hero-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 14px 20px;
}

.btn-main {
    background: linear-gradient(to right, #00e0fe, #1107fe);
    border-radius: 120px;
    border: none;
    font-weight: 600;
    color: #fff;
}

.btn:hover {
    color: #fff;
    transform: translate(-6px);
}

.section-intro {
    margin-bottom: 30px;
}

.section-intro .divider {
    height: 4px;
    width: 150px;
    margin: 16px auto;
    background: linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
}

img {
    width: 100%;
}

.services .services-img {
    position: relative;
}

.services .services-img .icon {
    width: 90px;
    height: 90px;
    background: linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
    color: #fff;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
}

.services .services-img .icon i {
    font-size: 35px;
}

.video-btn {
    width: 60px;
    height: 60px;
    background: linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 100px;
}

.video-btn i {
    font-size: 50px;
}

.feature i {
    background: -webkit-linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 54px;
    ;
}

.review {
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.1)
}

.review .person {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 18px;
}

.review .person img {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

.review .star {
    color: orange;
}

form .form-control {
    border-radius: 0;
    background: transparent;
}

form .form-control:focus {
    color: #fff;
    background: transparent;
    border-color: #fff;
}

form input .form-control {
    height: 54px;
}

form .form-control::placeholder {
    color: #fff;
}

footer {
    background: -webkit-linear-gradient(rgba(0, 224, 254, 0.7), rgba(17, 7, 254, 0.7));
    color: #fff;
}

footer a {
    color: #fff;
}